<?xml version="1.0"?>
<launch>
  <arg name="map_file" default="$(find raspimouse_navigation)/maps/ueda_room.yaml" />
  <arg name="rviz" default="true" />
  <arg name="rvizconfig" default="$(find raspimouse_navigation)/launch/config/movebase.rviz" />

  <!-- navigation stack -->
  <include file="$(find raspimouse_navigation)/launch/run_move_base.launch" />
  <include file="$(find raspimouse_navigation)/launch/run_amcl.launch" />

  <!-- map server -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" output="screen" />

  <!-- rviz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" if="$(arg rviz)" />
</launch>
